/*
  Islandora Simple Map Base CSS
 */

.block-islandora-simple-map {
  width: 200px;
  height: 200px;
  position: relative;
}

.block-islandora-simple-map .content,
.islandora-simple-map-holder.islandora-simple-map-block {
  height: 100%;
  width: 100%;
  position: relative;
}

.islandora-simple-map-holder.islandora-simple-map-collection-page {
  height: 600px;
  width: 600px;
  position: relative;
}

/*
 Google Maps InfoWindow allows any size img, we want small ones.
 */
.gm-style img.islandora-simple-map-infowindow-thumbnail-img {
  max-width: 100px;
  max-height: 100px;
}
